.animated-footer {
  &--screen-transition &__text {
    animation: 0.2s ease-in 0s 1 normal forwards fadeIn;

    @media (max-width: $tablet) and (orientation: portrait) {
      animation: none;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      animation: none;
    }
  }

  
  &--screen-transition-clone {
    position: absolute;
    bottom: 0;
    transform-origin: 50% 100%;
    animation: 0.2s ease-in 0s 1 normal forwards unfoldVertical;
  }
}
