.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

.result__image-wrapper {
  position: relative;
  margin: 0 auto;
  width: 850px;
  height: 70%;

  @media (max-width: $tablet) {
    width: 90%;
  }
}

.result__image-container {
  position: absolute;

  $frontImgAnimationDelay: 0.9s;
  $frontImgAnimationDuration: 0.3s;
  $backImgAnimationDelay: $frontImgAnimationDelay + $frontImgAnimationDuration - 0.1;
  $backImgAnimationDuration: 1.7s;

  &--flamingo {
    left: 125px;
    bottom: 33px;
    z-index: 10;
    width: 330px;

    @media (max-width: $tablet) {
      width: 31%;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      bottom: 7%;
      left: 33%;
      width: 23%;
    }

    @media (max-width: $mobile) {
      bottom: 21%;
      left: 22%;
      width: 40%;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      bottom: 22%;
      left: 33%;
      width: 23%;
    }

    img {
      animation: $frontImgAnimationDuration ease-out $frontImgAnimationDelay 1 normal both flamingoAppearance;
    }

    @keyframes flamingoAppearance {
      0% {
        opacity: 0;
        transform: translate3d(0, 140%, 0) rotate(-60deg);
      }

      50% {
        opacity: 1;
      }

      100% {
        transform: translate3d(0, 0, 0) rotate(0);
      }
    }
  }

  &--flamingo-animation {
    img {
      transform-origin: 100% 50%;
      animation: 2.5s linear 0s infinite normal both flamingoPulse;
    }

    @keyframes flamingoPulse {
      0% {
        transform: translate3d(0, 0, 0);
      }

      43% {
        transform: translate3d(0, 10%, 0) rotate(-5deg);
      }

      50% {
        transform: translate3d(0, 10%, 0) rotate(-6deg);
      }

      100% {
        transform: translate3d(0, 0, 0) rotate(0);
      }
    }
  }

  &--leaf-right {
    bottom: 111px;
    left: 425px;
    width: 345px;

    @media (max-width: $tablet) {
      width: 40%;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      bottom: 21%;
      left: 55%;
      width: 25%;
    }

    @media (max-width: $mobile) {
      bottom: 32%;
      left: 50%;
      width: 48%;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      bottom: 38%;
      left: 55%;
      width: 25%;
    }

    img {
      transform-origin: 0 50%;
      animation: $backImgAnimationDuration ease-out $backImgAnimationDelay 1 normal both leafRightAppearance;
    }

    @keyframes leafRightAppearance {
      0% {
        opacity: 0;
        transform: rotate(-50deg);
      }

      12% {
        opacity: 1;
        transform: rotate(20deg);
      }

      25% {
        transform: rotate(-3deg);
      }

      40% {
        transform: rotate(7deg);
      }

      60% {
        transform: rotate(-2deg);
      }

      80% {
        transform: rotate(4deg);
      }

      100% {
        transform: rotate(0);
      }
    }
  }

  &--leaf-left {
    left: 0;
    bottom: 13px;
    width: 345px;

    @media (max-width: $tablet) {
      width: 40%;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      bottom: 3%;
      left: 24%;
      width: 25%;
    }

    @media (max-width: $mobile) {
      bottom: 22%;
      left: 0;
      width: 48%;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      bottom: 20%;
      left: 24%;
      width: 25%;
    }

    img {
      transform-origin: 100% 50%;
      animation: $backImgAnimationDuration ease-out $backImgAnimationDelay 1 normal both leafLeftAppearance;
    }

    @keyframes leafLeftAppearance {
      0% {
        opacity: 0;
        transform: rotate(50deg);
      }

      12% {
        opacity: 1;
        transform: rotate(-20deg);
      }

      25% {
        transform: rotate(3deg);
      }

      40% {
        transform: rotate(-5deg);
      }

      60% {
        transform: rotate(2deg);
      }

      80% {
        transform: rotate(-2deg);
      }

      100% {
        transform: rotate(0);
      }
    }
  }

  &--branch {
    $branchAnimationCorrection: 0.1;

    bottom: 72px;
    left: 405px;
    width: 430px;

    @media (max-width: $tablet) {
      width: 51%;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      bottom: 11%;
      left: 52%;
      width: 36%;
    }

    @media (max-width: $mobile) {
      bottom: 28%;
      left: 60%;
      width: 43%;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      bottom: 28%;
      left: 52%;
      width: 36%;
    }

    img {
      animation: ($backImgAnimationDuration - $branchAnimationCorrection) ease-out ($backImgAnimationDelay + $branchAnimationCorrection) 1 normal both branchAppearance;
      transform-origin: 0 50%;
    }

    @keyframes branchAppearance {
      0% {
        opacity: 0;
        transform: rotate(-50deg);
      }

      12% {
        opacity: 1;
        transform: rotate(20deg);
      }

      25% {
        transform: rotate(-3deg);
      }

      40% {
        transform: rotate(7deg);
      }

      60% {
        transform: rotate(-2deg);
      }

      80% {
        transform: rotate(2deg);
      }

      100% {
        transform: rotate(0);
      }
    }
  }

  &--case {
    bottom: 16.3px;
    left: 170px;
    width: 423px;

    @media (max-width: $tablet) {
      width: 50%;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      bottom: 2%;
      left: 36%;
      width: 31%;
    }

    @media (max-width: $mobile) {
      bottom: 22%;
      left: 29%;
      width: 51%;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      bottom: 17%;
      left: 36%;
      width: 31%;
    }

    img {
      animation: $frontImgAnimationDuration linear $frontImgAnimationDelay 1 normal both zoomInCase;
      transform-origin: 50% 100%;
    }

    @keyframes zoomInCase {
      0% {
        transform: scale(0) translate3d(0, -5%, 0);
      }

      70% {
        transform: scale(1) translate3d(0, -5%, 0);
      }

      100% {
        transform: scale(1) translate3d(0, 0, 0);
      }
    }
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}
